body
{
    margin: 0;
}

#container
{
    display: flex;
    height: 850px;
    width: 850px;
    flex-direction: column;
    margin: 1vh auto;
}

.row
{
    flex: 1;
    display: flex;
}

.pixel
{
    flex: 1;
}

button
{
    height: 35px;
    width: 65px;
    position: fixed;
    bottom: 94vh;
    right: 19vw;
    font-size: large;
}